{$PUBLIC_HOSTNAME} {
  tls internal
  encode zstd gzip

  handle_path /api/* {
    reverse_proxy api:8080
  }

  handle {
    reverse_proxy web:80
  }
}

http://127.0.0.1 {
  handle_path /__proxy-health/* {
    reverse_proxy api:8080
  }

  handle {
    respond 200
  }
}
